/* src/components/Header/Header.css */
.header {
    /* background-color: #4CAF50; */
    color: white;
    /* padding: 20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

.header .nav-box {
    background-color: #A5161A;
    width: 100%;
    padding: 5px;
    /* box-sizing: border-box; Ensures padding is included in width */
    text-align: center;
    display: flex;
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }


header .nav-right {
  justify-content: flex-end;
}

header nav ul li {
  margin: 0 10px;
  display: inline-flex; /* Allows the <li> to wrap tightly around its content */
  align-items: center; /* Centers icon and text within <li> */
  }
  
header nav ul li a {
    display: flex;
    align-items: center;
  }
  

header span {
  display: flex;
  align-items: center;
}

/* .logo-box {
    background-image: url('/bg.png');
} */




